* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

/* Style title page */
h3 {
    font-family: "Tangerine", sans-serif;
    font-size: 5em;
    color: #e15f41;
}

.separator {
    width: 200px;
    height: 1px;
    display: block;
    position: relative;
    margin: 60px auto 60px auto;
    background-color: #e7e7e7;
}

.separator::before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 3px;
    position: absolute;
    top: -2px;
    background-color: #cc9a50;
    border-radius: 2px;
    left: 100px;
}

/* Title in text filling */
label {
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0 0px;
}

/* Text filling style */
#contact-form input[type="text"], #contact-form input[type="email"] {
    font-size: 16px;
    font-weight: 100%;
    width: 100%;
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1.5px solid #eee;
}

textarea {
    height: 250px;
    width: 100%;
    font-size: 16px;
    font-weight: 100%;
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1.5px solid #eee;
}

/* button style */
input[type="submit"] {
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0;
    padding: 13px 30px;
    border-radius: 5px;
    border: 2px solid #cdaa5e;
    background: transparent;
}

.submit-button.color {
    text-transform: uppercase;
    color: #fff;
    background-color: #a6ce37;
    border-color: #a6ce37;
}

input[type="submit"]:hover {
    font-size: 16px;
    border: 2px solid #cdaa5e;
    background-color: #8fbe26;
    color: #fff;
    cursor: pointer;
}