/* style content of home page */
/* all devices*/
#content {
    margin-top: 50px;
    font-family: "Raleway";
}
/* style about div*/
#about {
    width: 100%;
}
#about-text h3 {
    font-family: "Tangerine";
    color: #e15f41;
    font-size: 3em;
}
#about-text { 
    padding: 20px;
    font-size: 16px;
    height: 260px;
    color: #303952;
    width: 90vw;
}

/***************** style product section *******************/
#product_heading {
    position: relative;
    top: 20px;
    height: 50px;
    width: 90vw;
    text-align: center;
    font-size: 4em;
    font-weight: normal;
    color: red;
    margin-top: 200px;
}

div#products {
    font-family: "Raleway";
    width: 100%;
    height: 700px;
    background: url(../images/border1.jpg);
    background-size: 100vw 66vh;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
div.carousel-caption {
    font-size: 1.2em;

}
/* product button */
.product-btn {
    display: inline-block;
    position: relative;
    top: 20px;
    border: none;
    padding: 1vw 4vw;
    color: #fff;
    background-color: #c23616;
    box-shadow: 1px 2px 1px 1px rgba(0, 0,0, .7);
    overflow: hidden;
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.product-btn::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -180%;
    left: 0;
    height: 180%;
    width: 100%;
    border-radius: 50% 50% 0 0;
    background-color: yellow;
    z-index: -1;
    transition: .3s;
}

.product-btn:hover {
    text-decoration: none;
    color: white;
}


/* slide show products for mobile using swipper library */

#for_desktop {
    display: none;
}

#for_mobile {
    width: 80vw;
    height: auto;
}
.swiper-container {
    position: relative;
}
.swiper-slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
   

}

.product-details {
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
    color: black;
}
div.image-wrapper>img {
    display: block;
    position: relative;
    width: 100%;
    max-width: 640px;
    height: auto;
    max-height: 426px;
}



/********* style the gallery section **********/
#gallery {
    margin-top: 0px;
    width: 100%;
    height: auto;
    font-family: "Raleway", sans-serif;
}
#gallery #gallery-text {
    width: 100%;
    text-align: center;
    font-family: "Tangerine", sans-serif;
    margin-top: 0;
    height: 100px;
    position: relative;
    bottom: 100px;
}

#gallery #gallery-text h3 {
    font-size: 10vw;
    color: green;
}

div.gallery-desktop {
    display: none;
}
div#gallery-mobile {
    display: block;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/texture12.jpg);
    background-size: cover;
}


/****** swiper slide show for galllery *****/
.swiper-gallery {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
   overflow: hidden;
}
.swiper-slide#gallery-slide {
    width: 100%;
    height: 700px;
    background-position: center;
    background-size: cover;
}
.swiper-slide#gallery-slide .gallery-imgBox {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.swiper-slide#gallery-slide .gallery-imgBox>img {
    width: 100%;
    max-width: 640px;
    height: 100%;
    min-height: 426px;
}
.swiper-slide#gallery-slide .img-details {
    position: absolute;
    bottom: -0px;
    text-align: left;
    padding-left: 20px;
    width: 100%;
    margin-top: 10px;
    font-size: 1.1em;
}

.swiper-slide#gallery-slide .img-details h2 {
    font-size: 1.8em;
    margin: 0;
    padding: 0;
}

.gallery-btn {
    display: inline-block;
    padding: 1vw 2vw;
    background-color: green;
    color: #fff;
    margin-top: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .8);
}
.gallery-btn:hover {
    text-decoration: none;
    color: #fff;
}
/******************** style the feedback section ************/
#feedback {
    font-family: "Raleway", sans-serif;
    margin-top: 50px;
    overflow: hidden;
    height: auto;
}

.feedback-heading {
    width: 100%;
    text-align: center;
    font-family: "Tangerine", sans-serif;
}

.feedback-heading h3 {
    font-size: 56px;
    color: green;
}
.feedback-container{
    height: auto;
    overflow: hidden;
}
.feedback-container .feedback-box  {
    position: relative;
    width: 300px;
    height: 370px;
    padding: 40px;
    box-shadow: 0 6px 15px rgba(0,0,0,.1) ;
    overflow: hidden;
    transition: .5s;
    margin: 30px auto; /* center vertically cards*/
}

.feedback-container .feedback-box .icon {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: #fff;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
    transition: .5s;
}
.feedback-container .feedback-box .icon img.ava {
    width: 80px;
    height: 80px;
}
/* hover feedback card effect */
.feedback-box:nth-child(1) .icon {
    box-shadow: 0 0 0 0 #e91e63;
    background: #e91e63;
}

.feedback-box:nth-child(1):hover .icon {
    box-shadow: 0 0 0 400px #e91e63;
}

.feedback-box:nth-child(2) .icon {
    box-shadow: 0 0 0 0 lightgreen;
    background: lightgreen;
}

.feedback-box:nth-child(2):hover .icon {
    box-shadow: 0 0 0 400px lightgreen;
}

.feedback-box:nth-child(3) .icon {
    background: #e056fd;
    box-shadow: 0 0 0 0 #e056fd;
}

.feedback-box:nth-child(3):hover .icon {
    box-shadow: 0 0 0 400px #e056fd;
}
.feedback-box:nth-child(4) .icon {
    background: #e056fd;
    box-shadow: 0 0 0 0 #e056fd;
}

.feedback-box:nth-child(4):hover .icon {
    box-shadow: 0 0 0 400px #e056fd;
}
.feedback-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, .2);
    z-index: 1;
}
/* style feedback text */
.feedback-box .feedback-text {
    position: relative;
    z-index: 10;
    transition: .5s;
    font-size: 1.1em;
}
.feedback-box:hover .feedback-text {
    color: #fff;
}
.feedback-text h3 {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    padding: 0;
}
.feedback-text p {
    text-align: center;
    padding: 0;
    margin: 0;
}
/* style feedback button */
div#feedback-button {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}
.feedback-btn {
    display: inline-block;
    padding: 20px 40px;
    color: #fff;
    background-color: green;
    box-shadow: 0px 5px rgba(0, 0, 0, .8);
    transition: .5s;
    font-size: 1.2em;
}
.feedback-btn:hover {
    color: #fff;
    text-decoration: none;
}
/*** style certificate section ***/
#certificate {
    width: 100%;
    margin-top: 50px;
}
#certificate .certificate-text {
    text-align: left;
    padding-left: 30px;
    font-size: 1.4em;
}
#certificate .certificate-text h3, h4 {
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: green;

}
#certificate .certificate-text h3 {
    font-family: "Tangerine";
    font-size: 2em;
    color: red;
}


.certificate-container{
    width: 100%;
    text-align: center;
}
.certificate-container img {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 20px 40px;
}

div.number {
    display: flex;
    margin-top: 100px;
    height: 700px;
}

.number .col {
    height: 150px;
    flex: 1;
    margin: 10px;
    text-align: center;
    font-size: 2em;
}
.number .col .num {
    padding-top: 25%;
    font-size: 5vw;
    color: green;
    margin-bottom: 20px;
    height: 22vw;
    background-image: url(../images/laurel\ wreath2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.number .col p {
    color: green;
    font-size: 4vw;
    margin-top: 0;
}
/**************************************** for desktop ***********************************/
@media only screen and (min-width: 992px) {
    #for_desktop {
        display: block;
    }
    #for_mobile{
        display: none;
    }

    #about-text {
        font-size: 1.6em;
    }
    #product_heading {
        top: 50px;
        margin-top: 50px;
    }
    div#products {
        background-image: url('../images/texture8.jpg');
        background-size: cover;
        height: 500px;
        margin-top: 150px;
    }

    .product-btn:hover::after {
        bottom: 0;
    }
    .product-btn:hover {
        color: black;
        text-decoration: none;
    }
    div.wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    figure .img-container {
        display: inline-block;
        overflow: hidden;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .8);
    }
    #products figure img {
        display: block;
        max-width: 100%;
        transition: .5s;
    }
    #products figure img:hover {
        transform: scale(1.2);
    }

    #products figure figcaption {
        text-align: center;
        color: #fff;
        font-size: 1.3em;
    }
    .product-btn {
        padding: 10px 35px;
    }
    /* gallery section */
    div.gallery-desktop {
        display: block;
        background: url(../images/texture7.jpg);
        background-size: cover;
    }
    div#gallery-mobile {
        display: none;
    }
    #gallery #gallery-text {
        width: 100%;
        text-align: center;
        font-family: "Tangerine", sans-serif;
        margin-bottom: 70px;
        height: 100px;
        position: relative;
        bottom: 0px;
    }
    
    #gallery #gallery-text h3 {
    font-size: 56px;
    color: green;
    }
    /*** feedback section ***/
    .feedback-container {
        /* add baclground image */
        /* background: url(../images/texture6.jpg); */
        background-size: 100% 100%;
        /* center horizontal cards */
        width: 100vw;
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .feedback-container .feedback-box  {
        width: 20vw;
        margin: 0 2vw;
    }
    /* style feedback button */
    .feedback-btn:hover {
        color: #111;
        text-decoration: none;
        background-color: yellow;
    }
    /** style certicate dection ***/
    .number .col {
        height: 150px;
        flex: 1;
        margin: 10px;
        text-align: center;
        font-size: 2em;
    }
    .number .col .num {
        padding-top: 75px;
        font-size: 1.4em;
        font-weight: 700;
        color: green;
        margin-bottom: 20px;
        height: 200px;
        background-image: url(../images/laurel\ wreath2.jpg);
        background-size: 100% 100%;
        letter-spacing: 1px;

    }

    .number .col p {
        color: green;
        font-size: 1.2em;
        margin-top: 0;
        font-weight: normal;
    }
}


